body {
    background: #eee;
    min-height: auto;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.title-container {
    width: 95%;
    margin: auto;
    clear: both;
}

nav {
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.menu {
    list-style-type: none;
    margin: auto;
}

.menu a {
    float: right;
    display: block;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}


#title {
    float: left;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    color: white;
}