video {
    position: absolute;
    background: white;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; 
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    object-fit: cover;
}

h1 {
  font-family: 'Syncopate', sans-serif;
  z-index: 9999;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
}

h1 span {
    display: block;
    letter-spacing: -0.25vw;
    font-size: 10vw;
}


main {
    background: white;
    position: relative;
    padding: 1rem;
    margin-top: 100vh;
}

#format {
    position:absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index:1;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}